{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tailwindStylesheet": "/src/index.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
